body {
    display:block;
}




@import url('https://fonts.googleapis.com/css?family=Lustria');
#btnTelechargerJeu{
    /* font-family: Lustria, serif; */
    text-align: center;
    font-size: 35px;
    background-color: rgba(5,52,124,0.8);
    box-shadow: black;
    width:fit-content;
    

    margin:0 auto;
    border-radius: 56px 56px 56px 56px;
    -moz-border-radius: 56px 56px 56px 56px;
    -webkit-border-radius: 56px 56px 56px 56px;
    border: 0px solid #000000;
    transition : 0.5s;
    cursor:pointer;
}

#btnTelechargerJeu:hover{
    background-color: rgba(5,52,124,1);
}


.telechargerJeu{
    display:contents;
    /* font-family: 'Bebas Neue', cursive; */
    
}

#letter-object{ 
    font-family: 'Montserrat', sans-serif;
    color: #4afaff;
}

div#letter-object{
    display: contents;
    animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both running text-pop-up-top;
    font-size:70px;
}


header#header {
    background-color: transparent;
}

.espace-vide{
    display:block;
    height: 60%;
}



/*
footer{

    background:#ccc;
    
    position:absolute;
    
    bottom:0;
    
    width:100%;
    
    padding-top:50px;
    
    height:50px;
} */










@media screen and (max-width: 1520px) {
    .espace-vide{
        height: 50%;
    }
    
}

@media screen and (max-width: 1320px) {
    .espace-vide{
        height: 45%;
    }
}

@media screen and (max-width: 1220px) {
    .espace-vide{
        height: 40%;
    }
}

@media screen and (max-width: 1120px) {
    .espace-vide{
        height: 35%;
    }
}

@media screen and (max-width: 1020px) {
    .espace-vide{
        height: 30%;
    }
}

@media screen and (max-width: 920px) {
    .espace-vide{
        height: 25%;
    }
    div#letter-object{
        font-size:50px;
    }
}

@media screen and (max-width: 820px) {
    .espace-vide{
        height: 20%;
    }
    
}

@media screen and (max-width: 720px) {
    .espace-vide{
        height: 10%;
    }
}

@media screen and (max-width: 600px) {
    div#letter-object{
        font-size: 40px;
        
    }
    #btnTelechargerJeu{
        padding:1rem;
        position:relative;
        top:35%;
    }
    .espace-vide{
        height: 0px;
    }
    .telechargerJeu {
    text-shadow: 0 0px 0 #ccc, 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 30px 10px rgba(0,0,0,.3);
    }
}

html{
    overflow-x: hidden!important;
}



#letter-object {
    text-shadow: 0 1px 0 #575757, 0 2px 0 #575757, 0 3px 0 #575757, 0 4px 0 #575757, 0 5px 0 #575757, 0 6px 0 #575757, 0 7px 0 #575757, 0 8px 0 #575757, 0 9px 0 #575757, 0 50px 30px rgba(0,0,0,.3)!important;
}

#menu{
    cursor:pointer;
}