header{
    margin-top:40px;
}

@media screen and (max-width: 755px) {
    margin-top:15px;
}

#titre {
    font-family: 'Luckiest Guy';
    text-align: center;
    font-size: 80px!important;
    color: #4ae2ff;
    text-shadow: -4px 0 #000000, 0 4px #7b7b7b, 4px 0 black, 0 -4px #b812d0;
    margin-top: 30px;
    margin-bottom: 30px;
}


.wrapper.style3 {
    /* background-color: #000;
    color: #bfbfbf; */
    /* background: radial-gradient(circle, rgba(1,18,59,1) 10%, rgba(74,250,255,1) 51%, rgba(5,52,124,1) 80%); */
    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.wrapper {
    padding: 6rem 0 4rem 0;
    position: relative;
    margin: 0;
}

 .wrapper.style3:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    content: '';
    display: block;
    
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.wrapper .inner h2 {
    color: #ffffff;
    z-index: 34;
}

body{
    background-color: #01123B;
    /* background: radial-gradient(circle, rgba(1,18,59,1) 10%, rgba(74,250,255,1) 51%, rgba(5,52,124,1) 80%); */
    
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#containerGrid{
    margin-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, 20%);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 2420px;
}



.parent>*:hover {
    animation-name: opacityIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.parent>*>*{
    opacity: 0.75;
}

.parent>*{
    
    animation-name : opacityOut;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}



.parent>*>img{
    width:100%;
    height:100%;
}



.div1 { 
    grid-area: 1 / 1 / 2 / 3;
    /* background: #ffffff; */
    background-image: url("../../vue/images/carousel/laboDrawing.jfif");
    background-size: cover;
}


.content-div-titre{
    color: white;
    font-size:26px;
    margin-top : 37%;
    text-align:center;
    font-family: "Playfair Display", sans-serif;;
}




.div2 { 
    grid-area: 1 / 3 / 2 / 4;
    
}

.div3 { grid-area: 2 / 3 / 3 / 4; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { 
    grid-area: 2 / 1 / 3 / 2;
    
    
}
.div6 { 
    grid-area: 3 / 1 / 4 / 3;
    background-image: url("https://image.noelshack.com/fichiers/2020/09/4/1582820572-labo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.div7 { grid-area: 3 / 3 / 4 / 4; }
.div8 { 
    grid-area: 4 / 3 / 5 / 4;
    background-image: url("https://cdn.discordapp.com/attachments/638518665746317322/682620183776722964/unknown.png");
    background-size: cover; 
}

.div9 { grid-area: 4 / 2 / 5 / 3; }
.div10 { grid-area: 4 / 1 / 5 / 2; }


/* 
@keyframes opacityIn {
    from {opacity: 0.95;}
    to {opacity: 1;}
}

@keyframes opacityOut {
    from {opacity: 1;}
    to {opacity: 0.95;}
} */


div#myCarousel {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.case-md4{
    width:85%;
}


.separationLigne {
    margin-top:40px;
}