video#bgvid{
  position: fixed;
  top: 50%;
  left: 50%;
  right : 0;
  bottom : 0;
  min-width: auto!important;
  min-height: 100% !important;
  display: block !important;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size : cover;
}