
.titreEtMinitron {
    font-family: 'Luckiest Guy', cursive;
    font-size: 80px;
    text-align: center;  
    height: fit-content;
    border-bottom: solid 1px black;
    overflow: hidden;
}

#titre {
    position: absolute;
    left: 50%;
}

#texteInterneTitre{
    position: relative;
    left: -50%;
}

#minitron{
    position: relative;
    width:auto;
    height:120px;
    display: block;
    top: 0%;
    transform: rotate(18deg)  scaleX(-1);
    z-index: 3;
    transition: left 5s linear;
    left: -10%;
}

.avanceVersDroite {
    transform: rotate(18deg)  scaleX(-1);
}

.avanceVersGauche {
    transform: rotate(-18deg)  scaleX(1)!important;
}

div#texteInterneTitre * {
    display: initial;
}

.lettresDevant{
    z-index: 4;
    position: relative;
}

.lettresDerriere{
    z-index: 2;
}

.categorieClassement {
    margin-left :40px;
}




div.tableauClassement {
    margin-top: 50px;
    width: 100%;
  }
  .divTable.tableauClassement .divTableCell, .divTable.tableauClassement .divTableHead {
    border: 0px solid #AAAAAA;
    padding: 10px 10px;
  }
  .divTable.tableauClassement .divTableHeading {
    background: #DDDDDD;
  }
  .divTable.tableauClassement .divTableHeading .divTableHead {
    font-size: 17px;
    font-weight: bold;
  }
  /* DivTable.com */
.divTable{
    display: table;
    }
.divTableRow { 
    display: table-row; 
}
.divTableHeading { 
    display: table-header-group;
}
.divTableCell, .divTableHead { 
    display: table-cell;
}
.divTableHeading { 
    display: table-header-group;
}
.divTableFoot { 
    display: table-footer-group;
}
.divTableBody { 
    display: table-row-group;
}


#main {
    width : 80%;
    margin-left: auto;
    margin-right: auto;
}


footer{
    padding-top: 5em;
    text-align: center;
    font-size:25px;
}