@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
.titreEtMinitron {
    padding-top : 80px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 80px;
    text-align: center;  
    height: fit-content;
    overflow: hidden;
}
header#menu{
    top: 0%;
    font-family: "Montserrat", sans-serif;
    z-index: 10000;
    position: fixed;
    min-width: 100%;
    width: auto;
    background-color: #01123B;
}
#titre {
    position: absolute;
    left: 50%;
    color:#4AFAFF;
    
}

#texteInterneTitre{
    position: relative;
    left: -50%;
}

#minitron{
    position: relative;
    width:auto;
    height:120px;
    display: block;
    top: 0%;
    transform: rotate(18deg)  scaleX(-1);
    z-index: 3;
    transition: left 5s linear;
    left: -10%;
}

.avanceVersDroite {
    transform: rotate(18deg)  scaleX(-1);
}

.avanceVersGauche {
    transform: rotate(-18deg)  scaleX(1)!important;
}

div#texteInterneTitre * {
    display: initial;
}

.lettresDevant{
    z-index: 4;
    position: relative;
}

.lettresDerriere{
    z-index: 2;
}

.categorieClassement {
    margin-left :40px;
}




div.tableauClassement {
    margin-top: 50px;
    width: 100%;
  }
  .divTable.tableauClassement .divTableCell, .divTable.tableauClassement .divTableHead {
    border: 0px solid #AAAAAA;
    padding: 10px 10px;
  }
  .divTable.tableauClassement .divTableHeading {
    background: #DDDDDD;
  }
  .divTable.tableauClassement .divTableHeading .divTableHead {
    font-size: 17px;
    font-weight: bold;
  }
  /* DivTable.com */
.divTable{
    display: table;
    }
.divTableRow { 
    display: table-row; 
}
.divTableHeading { 
    display: table-header-group;
}
.divTableCell, .divTableHead { 
    display: table-cell;
}
.divTableHead, footer{
    font-family: 'Luckiest Guy', cursive;
}


.divTableCell {
    font-family: "Lato";
}
.divTableHeading { 
    display: table-header-group;
}
.divTableFoot { 
    display: table-footer-group;
}
.divTableBody { 
    display: table-row-group;
}

.divTableCell {
    color : rgb(208, 208, 208);
}

#main {
    width : 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #05347C;
    -webkit-box-shadow: 0px 0px 45px 1px rgba(74,249,255,1);
    -moz-box-shadow: 0px 0px 45px 1px rgba(74,249,255,1);
    box-shadow: 0px 0px 45px 1px rgba(74,249,255,1);
}


body{
    background-color: #01123B;
    background-repeat: no-repeat;
    background-size:cover;
    margin : 0;
}

#bg-img img{
    position : fixed;
    z-index :-1000;
    min-height : 100%;
    min-width : 100%;
    width : auto;
    height : auto;

    
}

footer{
    padding-top: 3em;
    text-align: center;
    font-size:25px;
    color : rgb(70, 192, 248);
}

@media screen and (max-width: 800px) {
    .tableauClassement {
        width:100%;
    }
    #main{
        width:100%;
    }
    body{
        margin: 0px;
    }
    .divTableCell{
        font-size: 11px;
    }

    .divTable.tableauClassement .divTableCell, .divTable.tableauClassement .divTableHead {
        padding: 5px 5px;
        border-left: solid 1px;
      }
      .divTable.tableauClassement .divTableCell:first-child, .divTable.tableauClassement .divTableHead:first-child {

        border-left: none;
      }


    html{
        overflow-x: hidden;
    }

    

}

.container .active_links {
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 920px) {
    #stagiaire{
display : none;
    }

    #profil {
        padding:  15px;
    }

    .container .active_links {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
  }
