@font-face {
  font-family: "police-umsi";
  src: url("../../vue/fonts/FluoGums.ttf") format("truetype");
}

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #05347C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.btnAnnuler {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.majuscule {
  text-transform: uppercase;
}

#titre{
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "police-umsi" ,arial,sans-serif;
  background: -webkit-linear-gradient(#eee, #60c9d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  background-color: transparent;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  padding : 30px;
  border: 1px solid #888;
  width: 500px; /* Could be more or less, depending on screen size */

  border-radius: 23px 23px 23px 23px;
  -moz-border-radius: 23px 23px 23px 23px;
  -webkit-border-radius: 23px 23px 23px 23px;
  border: 0px solid #000000;

  -webkit-box-shadow: 2px 18px 26px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 18px 26px 3px rgba(0,0,0,0.75);
  box-shadow: 2px 18px 26px 3px rgba(0,0,0,0.75);
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .btnAnnuler {
     width: 100%;
  }
}




body{
 
background: rgb(74,250,255);
background:  radial-gradient(circle, rgba(74,250,255,1) 0%, rgba(2,23,63,1) 2%, rgba(74,250,255,1) 4%, rgba(1,18,59,1) 7%, rgba(74,250,255,1) 10%, rgba(1,18,59,1) 12%, rgba(74,250,255,1) 14%, rgba(1,18,59,1) 17%, rgba(74,250,255,1) 19%, rgba(1,18,59,1) 22%, rgba(74,250,255,1) 24%, rgba(1,18,59,1) 27%, rgba(74,250,255,1) 29%, rgba(1,18,59,1) 32%, rgba(74,250,255,1) 35%, rgba(1,18,59,1) 38%, rgba(74,250,255,1) 41%, rgba(1,18,59,1) 44%, rgba(74,250,255,1) 47%, rgba(1,18,59,1) 50%, rgba(74,250,255,1) 53%, rgba(1,18,59,1) 57%, rgba(74,250,255,1) 60%, rgba(1,18,59,1) 63%, rgba(74,250,255,1) 65%, rgba(1,18,59,1) 68%, rgba(74,250,255,1) 71%, rgba(1,18,59,1) 74%, rgba(74,250,255,1) 77%, rgba(1,18,59,1) 79%, rgba(74,250,255,1) 82%, rgba(1,18,59,1) 85%, rgba(74,250,255,1) 88%, rgba(1,18,59,1) 90%, rgba(74,250,255,1) 94%, rgba(1,18,59,1) 96%, rgba(74,250,255,1) 99%);
  background-size: 100% 100%;
  background-position: center;
  animation: gradient 100s cubic-bezier(0.23, 0.8, 0.98, 0.67) infinite;
  


}




@keyframes gradient {
	0% {
		background-size: 100% 100%;
	}
	50% {
    background-size: 1700% 1700%;
	}
	100% {
	  background-size: 50% 50%;
	}
}


html, body {
  height: 100%;
}