@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
@font-face {
  font-family: "police-umsi";
  src: url("../../vue/fonts/FluoGums.ttf") format("truetype");
}



body {font-family: "Montserrat", sans-serif; color : #60c9d7; font-style : none; letter-spacing: 0.05em;}
* {box-sizing: border-box;}

.majuscule {
  text-transform: uppercase;
}

::-webkit-input-placeholder { /* Edge */
  color: #aaa;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
}

::placeholder {
  color: #aaa;
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  color : #151515;
}

p#title{
  font-family: "Montserrat", sans-serif;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #05347C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* style pour le bouton annuler */
.btnAnnuler {
  padding: 14px 20px;
  background-color: rgb(56, 179, 184);
}

/* Float cancel and signup buttons and add an equal width */
.btnAnnuler, .btnInscription {
  float: left;
  width: 50%;
  font-family : "Montserrat", sans-serif;
  letter-spacing: 0.1em;

}

/* Add padding to container elements */
.container {
  padding: 16px;
  background-color:  #fff;
}

.container input[type="text"], .container input[type="password"]{
  background-color : #fff;
  font-family: "Montserrat", sans-serif;
  border : 1px solid #aaa;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0% auto 0px auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 450px; /* Could be more or less, depending on screen size */



  border-radius: 23px 23px 23px 23px;
  -moz-border-radius: 23px 23px 23px 23px;
  -webkit-border-radius: 23px 23px 23px 23px;
  border: 0px solid #000000;

  -webkit-box-shadow: 2px 18px 26px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 18px 26px 3px rgba(0,0,0,0.75);
  box-shadow: 2px 18px 26px 3px rgba(0,0,0,0.75);
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #60c9d7;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}


body{
  background: rgb(74,250,255);
}


.termesConditions{
  text-align: center;
}

#titreInscription {
  font-family: "police-umsi" ,arial,sans-serif;
  background: -webkit-linear-gradient(#eee, #60c9d7);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  margin-bottom: 30px;
}


.centrer{
  text-align: center;
}

.mdpDifferents{
  margin-bottom: 20px;
  margin-left: 10px;
  color: rgb(182, 0, 0);
}

.rouge::placeholder {
  color: rgb(182, 0, 0);
}

label{
  font-size: 16px;
}

.modal-content .container input{
  font-size: 16px;
}


.swal2-title {
  color: #000000!important;
  font-size: 20px!important;
}


.picto-item {
  position: relative;  /*les .picto-item deviennent référents*/
  cursor: help;
  border-radius: 50%;
}

/* on génère un élément :after lors du survol et du focus :*/

.picto-item:hover:after,
.picto-item:focus:after {
  content: attr(aria-label);  /* on affiche aria-label */
  position: absolute;
  top: -2.4em;
  left: 50%;
	transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne*/
  padding: 5px 14px;
  background: #000d43;
  
  color: #fff;
  border-radius: 4px;
  font-size: 1.2rem;
}

/* on génère un second élément en :before pour la flèche */

[aria-label]:hover:before,
[aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: -1em;
	left: 50%;
	transform: translateX(-50%); /* on centre horizontalement  */
  font-size: 20px;
  color: #000d43;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
  outline: none;
}

.pictos {
  text-align: center;
}

.picto-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 .2em;
  width: 1.2em;
  height: 1.2em;
  color: white;
  background: #000d43;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
}