@font-face {
  font-family: "police-umsi";
  src: url("../../vue/fonts/FluoGums.ttf") format("truetype");
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.majuscule {
  text-transform: uppercase;
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #05347C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* style pour le bouton annuler */
.btnAnnuler {
  padding: 14px 20px;
  background-color: rgb(56, 179, 184);
}

/* Float cancel and signup buttons and add an equal width */
.btnAnnuler, .btnInscription {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 450px; /* Could be more or less, depending on screen size */



  border-radius: 23px 23px 23px 23px;
  -moz-border-radius: 23px 23px 23px 23px;
  -webkit-border-radius: 23px 23px 23px 23px;
  border: 0px solid #000000;

  -webkit-box-shadow: 2px 18px 26px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 18px 26px 3px rgba(0,0,0,0.75);
  box-shadow: 2px 18px 26px 3px rgba(0,0,0,0.75);
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}


body{
  background: rgb(1,18,59);
  background: -moz-radial-gradient(circle, rgba(1,18,59,1) 10%, rgba(74,250,255,1) 51%, rgba(5,52,124,1) 80%);
  background: -webkit-radial-gradient(circle, rgba(1,18,59,1) 10%, rgba(74,250,255,1) 51%, rgba(5,52,124,1) 80%);
  background: radial-gradient(circle, rgba(1,18,59,1) 10%, rgba(74,250,255,1) 51%, rgba(5,52,124,1) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01123b",endColorstr="#05347c",GradientType=1);
}


.termesConditions{
  text-align: center;
}

#titreInscription {
  font-family: "police-umsi" ,arial,sans-serif;
  background: -webkit-linear-gradient(#eee, #60c9d7);
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  margin-bottom: 30px;
}


.centrer{
  text-align: center;
}

.mdpDifferents{
  margin-bottom: 20px;
  margin-left: 10px;
  color: rgb(182, 0, 0);
}