@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(45deg, #9436ff, #ff2626); */
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}
.container ul.menu {
  height: 50px;
  width: 50px;
  margin : 23px;
  background: #05347C;
}
.container ul.menu li {
  position: relative;
  background: #4AFAFF;
  margin: 10px;
  height: 8px;
  width: 40px;
  top: -7px;
  left: -5px;
  transition: transform 0.3s, width 0.3s;
  
}
.container .active_menu li:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
  transition: transform 0.6s;
}
.container .active_menu li:nth-child(2) {
  width: 0;
  transition: width 0.6s;
}
.container .active_menu li:nth-child(3) {
  top: -25px;
  transform: rotate(-135deg);
  transition: transform 0.6s;
}

.container .active_menu {
  margin-right: 25px;
}


.container ul.links{
  background-color:transparent;
}

.container ul.links:not(.active_links){
  overflow: hidden;
  /* flex-direction: row; */
  display: flex;
  flex:auto;
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 0px;
  transition: width 1s, margin-left 0.4s, flex-grow 0.5s, flex-basis 3s;
  
}

.container ul.links li {
  margin: 15px;
  white-space: nowrap;
  border-left:6px;
  border-right:6px;
  border-style:solid;
  border-color: rgba(5, 53, 124, 0.575);
  transition: border 0.5s;
  background-color: rgba(5, 53, 124, 0.575);
}

.container ul.links li:hover {
  margin: 15px;
  white-space: nowrap;
  border-left:26px;
  border-right:26px;
  border-style:solid;
  border-color: rgba(0, 0, 0, 0.534);
  transition: border 0.5s;
}

/* .container ul.links:not(.active_links) li {
  height: 0;
  transition-delay:5s;
  transition-property: ;
} */

.container ul.links li a {
  color: #4AFAFF;
  text-decoration: none;
  transition: color 0.5s;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  transition: color 0.5s;
}
.container ul.links li:hover a {
  color: white;

  transition: color 0.5s;
}
.container .active_links {
  width: 370px !important;
  margin-left: 35px !important;

  display: flex;
  /* flex-direction: row; */
  flex: auto;
  /* transition: color 5s; */
  
  /* background-color:rgb(0, 82, 158); */

  transition: width 4s, margin-left 0.4s, color 5s, flex-grow 0.5s, flex-basis 2s;
}



header{
  position:relative;
}


@media screen and (max-width: 1560px) {
  .container ul.links li a {
      font-size: x-large;
  }
}

@media screen and (max-width: 1310px) {
  .container ul.links li a {
      font-size: large;
  }
}

@media screen and (max-width: 1060px) {
  .container ul.links li a {
      font-size: medium;
  }
}