
@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
header#menu{
	position: absolute;
	top: 0%;
    font-family: "Montserrat", sans-serif;
    z-index: 1000;
    position: fixed;
    min-width: 100%;
	width: auto;
	background-color: #05347c;
}

.book{
	margin-top:60px;
}

@media screen and (max-width: 920px) {
	header{
		position:initial;
	}
	body{
		display: block;
		padding-top:0px;
	}
	.pages{
		left:20%;
	}


}