
header{
	position: absolute;
    top: 0%;
}

.book{
	margin-top:40px;
}

@media screen and (max-width: 850px) {
	header{
		position:initial;
	}
	body{
		display: block;
	}
	.pages{
		left:20%;
	}

	
}